/* http://www.levien.com/type/myfonts/inconsolata.html */
@font-face {
  font-family: "inconsolata";
  src: url("/fonts/Inconsolata.otf");
}

@font-face {
  font-family: "droid sans";
  src: url("/fonts/DroidSans.ttf");
}

@font-face {
  font-family: "droid sans bold";
  src: url("/fonts/DroidSans-Bold.ttf");
}

body {
  color: #333;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  border-bottom: 0;
}

a:hover {
  border-bottom: solid 1px;
}

header,
h2,
{
  font-family: "droid sans", helvetica, arial, sans-serif;
}

h2 {
  font-size:  137.5%;
}

pre,
code,
{
  font-family: "inconsolata", monospace;
}

header,
footer,
{
  padding: 1em 0;
}

header,
{
  font-size: 200%;
  color: #a23030;
}

footer {
  margin-top: 1em;
  border-top: solid 1px #ccc;
  text-align: right;
}

ul {
  list-style-type: none;
}

span {
  font-size: 87.5%;
}

body {
  width: 960px;
  margin: auto;
}

#twitter,
#email,
{
  text-align: right;
}

li p {
  margin-top: 0;
  margin-bottom: 0;
}