<!doctype html public "(づ｡◕o◕｡)づ">

<meta charset=utf-8>
<title>{% if page.title %} {{ page.title }} | {% endif %}{{site.title}}</title>

<link rel=icon type=image/x-icon href=/favicon.ico />
<link rel=alternate type=application/rss+xml title=rss href=/feed/index.xml />

<link rel=stylesheet href=/css/screen.css />

<header>
  <a href={{site.url}}>{{site.title}}</a>
</header>

<section>
  {{ content }}
</section>

<footer>
  <div id=twitter>
    <a href=http://twitter.com/jedahan>@jedahan</a>
  </div>
  <div id=email>
    {{site.email}}
  </div>
</footer>
<!--[if !(lt IE 8)]><!-->
   <script type="text/javascript">
          (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
             </script>
<!--<![endif]-->
