<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type=image/x-icon href=/favicon.ico />
    <link rel=stylesheet type=text/css media="screen, projection" charset=utf-8 href=/css/screen.css />
    <link rel=stylesheet type=text/css media="screen, projection" charset=utf-8 href=/css/pygments.css />
    <link rel=alternate type="application/rss+xml" title="RSS" href="/atom.xml" />
    <script src="/_includes/google_analytics.js"></script>
  </head>
  <body>
    <div id=wrap class=container_12>
      <header class="grid_12 alpha omega">
        <h1><a href="{{site.url}}">{{site.title}}</a></h1>
      </header>
      <div class="clear"></div>
      <section class="grid_12">
        {{ content }}
      </section>
      <div class="clear"></div>
      <footer>
        <div class="grid_4 alpha">
        </div>
        <div class="grid_4">
          <a href="http://twitter.com/jedahan">@jedahan</a>
        </div>
        <div class="grid_4 omega">
          {{site.email}} 
        </div>
      </footer>
    </div>
  </body>
</html>
